{{> header }}

    {{> navbar }}
    
    <div class="row" style="margin-left: 0px; margin-right:0px;">
        <div class="col-md-8">
            <h1>Eclipse Solar</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos delectus officiis sapiente ipsum, quis est nemo quae, rerum beatae, enim porro nam veritatis modi quia inventore nesciunt odio iure possimus.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src="assets/img/eclipse-solar.jpeg" alt="">
        </div>
    </div>
    

{{> footer }}

